.card--danger {
    --hue-1: var(--hue-3);
}
.card--success {
    --hue-1: var(--hue-4);
}
.card{
  position: relative;
  border-radius: 1rem;
  background-color: hsl(var(--hue-1), 10%, 90%, 80%);                        /* hsl(hue, saturation, lightness) */
  box-shadow: 5px 5px 20px hsl(var(--black-hue), 10%, 40%); 
  
  /* hsl(nyans, mättnad, lätthet) */                                                           
}
.card__header{
    background-color: hsl(var(--hue-1), 70%, 50%);
    border-radius: 1rem 1rem 0rem 0rem;
    color: var(--white);
    padding: 3.5rem 1rem 1rem 2rem;
    margin: 5rem 0rem 3rem 0rem;
    background-image: linear-gradient(to right bottom ,hsl(var(--hue-1), 50%, 18%),hsl(var(--hue-1), 70%, 61%));
    position: relative;
}
.card__header__icon{
    box-sizing: content-box;    
    height: 45px;
    position: absolute;
    bottom: 0%;
    right: 0%;
    border: solid hsl(var(--hue-1), 50%, 50%, 90%) .7rem;
    transform: translate(-20%, 50%); /*x, y*/
    background-color: hsl(var(--hue-1), 50%, 50%, 90%);
    border-radius: 50px;
    box-shadow: 1px .5px 15px 1px hsl(var(--black-hue), 55%, 65%, 20%);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
}

.card__content__text{
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}
.card__heading {
    font-size: 2.7rem;
    
}
.card__heading__sub {
    display: block;
    font-size: 1.5rem;
}
.card__footer {
    border-top: solid hsl(var(--hue-1), 70%, 40%, 70%) .2rem;
    border-radius: 0rem 0rem 1rem 1rem;
    display: flex;
    justify-content: flex-end;
    
}
.card__button__text {
    color: var(--white);
    
}
.card__button__text{
    text-decoration: none;
    background-color: hsl(var(--hue-1), 78%, 32%, 95%);
    border: 1px solid hsl(var(--hue-1), 78%, 32%, 95%);
    color: hsl(var(--hue-1), 78%, 32%);
    border-radius: 1rem;
    margin: 1rem;
    color: var(--white);
    
    
    padding: 1rem 1.4rem 1rem 1.4rem;
}
.card__button__text:visited {
    color: var(--white); /*hsl(var(--hue-1), 78%, 32%, 95%);*/
    background-color: hsl(var(--hue-1), 78%, 32%, 95%); 
    text-decoration: none;      
}
.card__button__text:hover{
    color: hsl(var(--hue-1), 78%, 32%, 95%);
    background-color: var(--white);
    text-decoration: none;
    cursor: default;
} 


