.quote {
    border-radius: 1rem;
    background: hsl(var(--hue-1), 78%, 32%);   /* Backup-färgen, ifall webbläsaren inte kan läsa gradient slår denna färg in */
    background: linear-gradient(150deg, hsl(var(--hue-1), 78%, 32%) 6%, hsl(var(--hue-3), 78%, 32%) 50%, hsl(var(--hue-4), 78%, 32%) 94%); 
    /* 150deg = vinkeln , % = mängden uprymme den färgen tar. Hue 1 = blått , Hue 3 = Rött , Hue 4 =grön */
    box-shadow: 10px 10px 20px hsl(var(--black-hue), 10%, 40%);
}   /* offset-x | offset-y | blur-radius | color */ 

.quote__header{   
    position: relative;              /* Position som bilden kan relatera till */
    padding: 15px;
}
.quote__image{
    position: absolute; 
    bottom: 0;                      /* Så att hon börjar nedifrån */
    left: 0;                        /* Så att hon placeras till vänster */
}
.quote__text{
    font-size: 2rem;
    padding: 1.5rem;
    color: var(--white);
    height: 10rem;                   /* Heighten är där för att fylla ut utrymme, så att hovern inte hackar */
    display: flex;
    align-items: center;             /* Centrerar innehållet vertikalt  */
    justify-content: center;         /* centerar innnehållet horisontellt*/
}
.quote__footer{
    display: flex;
    justify-content: right;            /* För att den ska lägga sig i högra hörnet */
}
.quote__footer__text{
    padding: 1rem;
    color: var(--white);
    font-style:italic;
}
.quote__text:hover::after {          /* Texten som kommer fram efter man hovrar */
    content: attr(data-hover);       /* Content till psuedo-elementet, after och before fungerar inte utan keyword content. attr hänvisas till data-hover. */
    color: var(--white);
    font-size: 2rem;
    line-height: 2rem;                /* Radavstånd */
}
.quote__text:hover {                  /* När man väl hovrar */
     font-size: 0;                    /* font-size: 0 så att "hovra mig"-texten försvinner */
     animation: moveIn 2s ease-in;    /* Animationen för citat, moveIn = namnet, 2s = hur lång det till att gå till 100% klar animering, ease-In = blir smooth as fuck*/
}

 @keyframes moveIn {                  /* Själva animeringen 0 = igenomskinlig , 1 = synlig */
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} 
     
     