.quote {
    
    border-radius: 1rem;
    width: 90vw;
    margin: 30rem auto auto auto;
    background: hsl(var(--hue-1), 78%, 32%, 95%);
    background: linear-gradient(150deg, hsl(var(--hue-1), 78%, 32%, 95%) 1%, hsl(var(--hue-3), 78%, 32%, 95%) 50%, hsl(var(--hue-4), 78%, 32%, 95%) 100%);
    box-shadow: 10px 10px 20px hsl(var(--black-hue), 10%, 40%);

}


.quote__header{
    opacity: 1;
    height: 3rem;
    position: relative;
    border-radius: 1rem 1rem 0rem 0rem;
}



.quote__text{
    font-weight: bolder;
    font-size: 2.5rem;
    padding: 1.5rem;
    color: var(--white);
    text-shadow: 2px 2px hsl(var(--black-hue), 10%, 40%);
    opacity: 1;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.quote__footer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
   
}
.quote__footer__text{
    padding: 1rem;
    color: var(--white);
    font-style:italic;
    text-shadow: 2px 2px hsl(var(--black-hue), 10%, 40%);
}
.quote__image{
    position: absolute;
    opacity: 1;
    z-index: 1;
    bottom: 0%;
    left: 0%;    
    margin-top: auto;
}

.quote__quote {
    border-radius: 0rem 0rem 1rem 1rem;
    
}
.quote__text:hover {
    font-size: 0;
}
.quote__text:hover::after {
    content: attr(data-hover);
    color: var(--white);
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px hsl(var(--black-hue), 10%, 40%);
    font-size: 2rem;
    line-height: 2rem;

}

.quote__text:hover {
    
     animation: moveIn 2s ease-in;
     cursor: default; 
     opacity: 1;
    
}
 @keyframes moveIn {
    0% {
        opacity: 0;
     
    }
    100% {
        opacity: 1;
     
    }
} 