@media only screen and (min-width: 768px)
{
    .our__container {
        display: flex;
        flex-direction: column;
        gap: 4.5rem;
        width: 100%;
        align-items: flex-end;
    }
    .our__item1 {
        width: 80%;
        align-self: flex-start;
    }
    .our__item2, .our__item3, .our__item4 {
        
        align-items: flex-start;
        width: 80%;
        gap: 2rem;
    }
    .our__item3 {
        align-self: flex-start;
    }
   
    .card__header {
        margin: 0px;
    }
    .card__content {
        padding: 2rem 7rem 1rem 1rem;
        width: 90%;
    }

}

/*------------------ 1024 -------------------*/

  @media only screen and (min-width: 1024px) {
        
       .our__container {   
          display: grid; 
          gap: 1rem;
          grid-template-columns: repeat(2, 1fr);         
          grid-template-rows: repeat(2, 1fr); 
      } 
          
      .card__content { 
          padding: 2rem 1rem 1rem 1rem; 
      } 
      .our__item {         
    
          width: 100%; 
      } 
      .card__content--modify {     
          margin-bottom: 2.2rem; 
      } 
      .our__item1 {
          
          padding-bottom: 6.5rem;  
          width: 100%;
         
        }
}
      
      
    @media only screen and (min-width: 1408px) {
        .our__item1 {
            padding-bottom: 2rem; 
        }
    }   

    
    






































  

 





        



         
       